@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono";

html{
  background-color: #eee;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  width: 800px;
  margin: 30px auto;
  background-color: #fff;
}

app {
  display: block;
  padding: 30px;
}

.center {
  text-align: center;
}

.header {
  display: block;
  overflow: auto;
  margin-bottom: 30px;
}

.title {
  float: left;
  font-size: 1.2em;
  font-weight: 600;
}

.slogan {
  float: right;
}

.main {
  margin: 30px 0;
  display: block;
}

.footer {
  display: block;
  margin-top: 30px;
}

.horzline {
  border-style: none none solid none;
  border-bottom: 1px solid #eee;
}