@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono";

html{
  background-color: #eee;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  width: 800px;
  margin: 30px auto;
  padding: 30px;
  background-color: #fff;
}

.center {
  text-align: center;
}